body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: gainsboro;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: slategray;
  padding: 8px 12px;
}

.navbar__logo {
  font-size: 24px;
  color: gainsboro;
}
.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__icons {
  list-style: none;
  color: gainsboro;
  display: flex;
}

.navbar__icons li {
  padding: 8px 12px;
  font-size: 24px;
}
